            </div>
        </main>

        <footer class="footer">
            <div class="wrap">
                <p>Copyright &copy; {{ site.author }} {{ site.posts.last.date | date: '%Y' }}&ndash;{{ site.posts.first.date | date: '%Y' }}. All rights reserved.</p>
                <p><a href="{% link atom.xml %}">Subscribe</a> &middot; <a href="https://github.com/{{ site.github }}">GitHub</a> &middot; <a href="https://twitter.com/{{ site.twitter }}">Twitter</a></p>
            </div>
        </footer>
    </body>
</html>
