<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {%- if include.title -%}
                {{ include.title }}
            {%- else -%}
                {{ page.title }} | {{ site.title }}
            {%- endif -%}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

        <link rel="stylesheet" href="{% link assets/css/style.scss %}?v={{ site.time | date: '%s' }}">
        <link rel="alternate" type="application/atom+xml" href="{% link atom.xml %}" title="{{ site.title }} | Atom Feed">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
    </head>

    <body>
        <header class="header">
            <div class="header__wrap">
                <h1 class="header__title">
                    <a href="{% link index.md %}" class="header__title-link">{{ site.title }}</a>
                    {% if site.description %}<span class="header__title-description">&mdash; {{ site.description }}</span>{% endif %}
                </h1>

                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% link about.md %}" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="{% link archive.md %}" class="nav__link">Archive</a></li>
                        <li class="nav__item"><a href="{% link contact.md %}" class="nav__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
