/* Base */

body {
    font-family: "DejaVu Sans Condensed", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

/* Links */

a {
    color: #772953;
}

a:focus {
    outline: 1px dotted;
}

a:hover {
    color: #925375;
}

h1 a,
h2 a,
.meta a,
.footer a {
    color: inherit;
    text-decoration: none;
}

.meta a:hover,
.footer a:hover {
    color: #772953;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    letter-spacing: -0.025em;
    line-height: 1.25;
    margin: 1em 0 0 0;
    page-break-after: avoid;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

hr {
    border: 0;
    border-top: 0.25em solid;
    margin: 2em 0;
}

blockquote {
    border-left: 0.25em solid;
    margin: 1em;
    padding: 0 1em;
}

p {
    margin: 1em 0;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: 0.5em;
}

pre {
    margin: 1em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

address,
cite,
dfn,
em,
i,
var {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

code,
kbd,
pre,
samp {
    font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace, monospace;
    font-size: 0.875em;
}

pre code,
pre kbd,
pre samp {
    font-size: 1em;
}

small {
    font-size: 0.75em;
}

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

/* Lists */

dl {
    margin: 1em 0;
}

dd {
    margin-left: 2em;
}

ol,
ul {
    margin: 1em 0;
    padding-left: 2em;
}

ol li {
    list-style: decimal outside none;
}

ol li li {
    list-style: lower-alpha outside none;
}

ol li li li {
    list-style: lower-roman outside none;
}

ul li {
    list-style: disc outside none;
}

ul li li {
    list-style: circle outside none;
}

/* Images */

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em auto;
}

td,
th {
    padding: 0.25em 0.5em;
    text-align: left;
}

/* Figures */

.figure {
    margin: 1em 0;
}

.figure img {
    display: block;
    margin: 0 auto;
}

.caption {
    font-size: 0.875em;
    margin: 0.5em 0;
    text-align: center;
}

blockquote + .caption {
    text-align: right;
}

/* Buttons */

.button {
    background: #925375;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -0.025em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background: #9F6986;
    color: #fff;
}

.button:active {
    background: #843E64;
}

/* Header */

.header {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: -0.025em;
    line-height: 1.25;
    overflow: hidden;
}

.header a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.header a:focus,
.header a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: inherit;
    outline: 0;
}

.header h1 {
    font-size: inherit;
    margin: 0;
}

/* Navigation */

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: block;
}

/* Main */

.box {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: -0.025em;
    line-height: 1.25;
    margin: 2em 0;
}

.main {
    margin: 3em 0;
}

/* Posts */

.article {
    margin: 2em 0;
}

.more {
    text-decoration: none;
}

/* Meta */

.meta {
    font-size: 0.875em;
    margin: 0.5em 0;
}

/* Archives */

.inline,
.unstyled {
    padding: 0;
}

.inline > li {
    display: inline;
    margin-right: 0.5em;
    white-space: nowrap;
}

.unstyled > li {
    list-style: none;
}

/* Footer */

.footer {
    font-size: 0.875em;
    margin: 1em 0;
}

.footer p {
    margin: 0.5em 0;
}

/* Screen */

@media screen {

    body {
        color: #333;
        font-size: 1.125em;
    }

    .wrap {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 15px;
    }

    hr,
    blockquote {
        border-color: #d6d6d6;
    }

    pre {
        background: #f5f5f5;
        padding: 1em;
    }

    .header {
        background: #925375;
        color: #fff;
    }

    .header h1 {
        float: left;
    }

    .header h1 a {
        margin-left: -15px;
        padding: 15px;
    }

    .nav ul {
        clear: both;
    }

    .nav.hidden ul {
        display: none;
    }

    .nav a {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.8);
        margin: 0 -15px;
        padding: 15px;
    }

    .nav > a {
        border: 0;
        float: right;
    }

    .caption,
    .meta,
    .footer {
        color: #5c5c5c;
    }

    .box {
        background: #f5f5f5;
        color: #5c5c5c;
        padding: 1px 1em;
    }

}

/* Print */

@media print {

    .nav {
        display: none;
    }

}

/* Media > 480px */

@media all and (min-width: 480px) and (min-height: 320px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4,
    .header,
    .box {
        font-size: 1.25em;
    }

    .main {
        margin: 4em 0;
    }

    .box,
    .article {
        margin: 3em 0;
    }

    .footer {
        margin: 2em 0;
    }

}

/* Media > 640px */

@media all and (min-width: 640px) and (min-height: 480px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4,
    .header,
    .box {
        font-size: 1.333em;
    }

    .header h1 a,
    .nav a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav {
        float: right;
        margin-right: -15px;
    }

    .nav ul {
        clear: none;
    }

    .nav.hidden ul {
        display: block;
    }

    .nav li {
        float: left;
    }

    .nav a {
        border: 0;
        margin: 0;
    }

    .nav > a {
        display: none;
    }

    .box,
    .article {
        margin: 4em 0;
    }

}

/* Syntax, based on bw from https://github.com/richleland/pygments-css */

.highlight .hll {
    background-color: #ffffcc;
}

.highlight .c {
    font-style: italic;
}

.highlight .err {
    border: 1px solid #ff0000;
}

.highlight .k {
    font-weight: bold;
}

.highlight .cm {
    font-style: italic;
}

.highlight .c1 {
    font-style: italic;
}

.highlight .cs {
    font-style: italic;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gh {
    font-weight: bold;
}

.highlight .gp {
    font-weight: bold;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    font-weight: bold;
}

.highlight .kc {
    font-weight: bold;
}

.highlight .kd {
    font-weight: bold;
}

.highlight .kn {
    font-weight: bold;
}

.highlight .kr {
    font-weight: bold;
}

.highlight .s {
    font-style: italic;
}

.highlight .nc {
    font-weight: bold;
}

.highlight .ni {
    font-weight: bold;
}

.highlight .ne {
    font-weight: bold;
}

.highlight .nn {
    font-weight: bold;
}

.highlight .nt {
    font-weight: bold;
}

.highlight .ow {
    font-weight: bold;
}

.highlight .sb {
    font-style: italic;
}

.highlight .sc {
    font-style: italic;
}

.highlight .sd {
    font-style: italic;
}

.highlight .s2 {
    font-style: italic;
}

.highlight .se {
    font-style: italic;
    font-weight: bold;
}

.highlight .sh {
    font-style: italic;
}

.highlight .si {
    font-style: italic;
    font-weight: bold;
}

.highlight .sx {
    font-style: italic;
}

.highlight .sr {
    font-style: italic;
}

.highlight .s1 {
    font-style: italic;
}

.highlight .ss {
    font-style: italic;
}
