.banner {
    background: $green;
    background: linear-gradient(120deg, $blue, $green);
    color: white;
    padding: 2rem 0;
    text-align: center;

    @include media(screen, octavo) {
        padding: 3.25rem 0;
    }

    @include media(screen, quarto) {
        padding: 4.5rem 0;
    }

    a {
        color: inherit;

        &:active {
            outline-color: rgba(255, 255, 255, 0.75);
            outline-offset: 0.25rem;
        }
    }

    h1 {
        margin: 0.5rem 0;

        + p {
            @include font-size(1);

            color: rgba(255, 255, 255, 0.75);
            margin: 0.5rem 0;
        }
    }

    .nav {
        @include font-size(-1);

        color: rgba(255, 255, 255, 0.75);
        margin: 0.5rem 0;

        ul {
            border-spacing: 0.5em;
            display: table;
            margin: 0 auto;
            padding: 0;

            @include media(screen, octavo) {
                border-spacing: 1em;
            }
        }

        li {
            display: table-cell;
        }

        a {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 0.25rem;
            color: inherit;
            display: block;
            padding: 0.25em 0.5em;
            text-decoration: none;
            transition: background-color 200ms, border-color 200ms, color 200ms;

            @include media(screen, octavo) {
                padding: 0.5em 1em;
            }

            @include media(screen, quarto) {
                padding: 0.675em 1.25em;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                border-color: rgba(255, 255, 255, 0.3);
                color: white;
            }
        }
    }
}
