.button {
    background: transparent;
    border: 1px solid $blue;
    border-radius: 0.25rem;
    color: $blue;
    display: inline-block;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition: background-color 200ms, border-color 200ms, color 200ms;

    &:hover {
        background: $blue;
        color: white;
    }

    &:active {
        background: shade($blue, 10%);
        border-color: shade($blue, 10%);
    }
}
