.button {
    background: $link_color;
    border-radius: 0.25em;
    color: white;
    display: inline-block;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition: background-color 200ms;

    &:hover {
        background: tint($link_color, 10%);
        color: white;
    }

    &:active {
        background: shade($link_color, 10%);
    }
}
