// Figures

figure,
.figure {
    margin: 2em 0;

    img {
        display: block;
        margin: 0 auto;
    }

    figcaption,
    .caption {
        @include font-size(-1);

        color: $text_color_alt;
        margin: 1rem 0;
        text-align: center;
    }

    blockquote + figcaption,
    blockquote + .caption {
        text-align: right;
    }
}
