// Layout

.wrap {
    @include media(screen) {
        margin: 0 auto;
        max-width: 45rem;
        padding: 0 1rem;
    }

    &::after {
        clear: both;
        content: "";
        display: block;
    }
}
