// Links

a {
    color: $link_color;

    &:focus {
        outline: 2px solid;
        outline-offset: 0.125rem;
    }

    h1 &,
    h2 & {
        @include subtle-link;

        display: inline-block;
    }
}
