// Links

a {
    color: $link_color;

    &:focus {
        outline: 2px solid;
        outline-offset: 0.125rem;
    }

    // Links in headings, footer
    h1 &,
    h2 &,
    footer & {
        color: inherit;
        text-decoration: none;
        transition: color 200ms;

        &:hover {
            color: $link_color;
        }
    }

    h1 &,
    h2 & {
        display: inline-block;
    }

    // Links in navigation
    nav & {
        text-decoration: none;
    }
}
