// Mixins

// Media queries
@mixin media($type: all, $size: false) {
    $query: $type;
    $sizes: (
        octavo: "(min-width: 480px) and (min-height: 320px)",
        quarto: "(min-width: 640px) and (min-height: 480px)",
    );

    @if $size and map-has-key($sizes, $size) {
        $query: "#{$query} and #{map-get($sizes, $size)}";
    }

    // If the media query is equivalent to no media query at all, output the
    // content without a media query.
    @if $query == all {
        @content;
    }

    @else {
        @media #{$query} {
            @content;
        }
    }
}

// Font sizes
@mixin font-size($n) {
    $scales: (
        duodecimo: 1.2,
        octavo: 1.25,
        quarto: 1.333,
    );

    // Negative font sizes are not responsive and cannot be smaller than a
    // particular font size.
    @if $n == -1 {
        font-size: 0.875em;
    }

    @else if $n < -1 {
        font-size: 0.75em;
    }

    @else {
        @each $key, $scale in $scales {
            $size: 1em * pow($scale, $n);

            @if not map-has-key($scales, $key) {
                font-size: $size;
            }

            @else {
                @include media(all, $key) {
                    font-size: $size;
                }
            }
        }
    }
}

// Prefixes
@mixin prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    #{$property}: #{$value};
}

// Subtle links
@mixin subtle-link {
    color: inherit;
    text-decoration: none;
    transition: color 200ms;

    &:hover {
        color: $link_color;
    }
}
