// Syntax highlighter
//
// rougify help style
// rougify style <style>

.highlight {
    $grey: $text_color_alt;
    $highlight: tint($text_color, 97.5%);

    $blue: #006cc9;
    $teal: #007c4a;
    $green: #398300;
    $yellow: #995900;
    $orange: #cc3d00;
    $red: #d8003d;
    $purple: #cc00c3;

    .ge {
        font-style: italic;
    }

    .gh,
    .gp,
    .gs,
    .gu {
        font-weight: bold;
    }

    .hll {
        background-color: #ececec;
    }

    .kn,
    .nd,
    .nt,
    .o,
    .ow,
    .gu {
        color: $teal;
    }

    .na,
    .nf,
    .nx {
        color: $blue;
    }

    .gi,
    .ld,
    .s,
    .s1,
    .s2,
    .sb,
    .sh,
    .sr,
    .ss,
    .sx {
        color: $green;
    }

    .k,
    .kc,
    .kd,
    .kp,
    .kr {
        color: $purple;
    }

    .c,
    .c1,
    .cm,
    .cp,
    .cs,
    .sd,
    .gp {
        color: $grey;
    }

    .err,
    .gd,
    .ne,
    .no,
    .nv,
    .vc,
    .vg,
    .vi {
        color: $red;
    }

    .kt,
    .nc,
    .nn {
        color: $yellow;
    }

    .il,
    .l,
    .m,
    .mf,
    .mh,
    .mi,
    .mo,
    .se,
    .si {
        color: $orange;
    }
}
