.footer {
    @include font-size(-1);

    color: $body-color-alt;
    margin: 2.25em 0;

    @include media(all, octavo) {
        margin: 3.375em 0;
    }

    p {
        margin: 0.5em 0;
    }

    a {
        @include quiet-link;
    }
}
