{% include header.html %}

<main class="main">
    <div class="content">
        <div class="content__wrap">
            <h1>{{ page.title | smartify }}</h1>

            {{ content }}

            {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

            {% for year in years %}
                <div class="archive">
                    <h2 class="archive__heading">{{ year.name }}</h2>

                    <ol class="archive__list">
                        {% for post in year.items %}
                            <li class="archive__item">
                                <a href="{{ post.url }}" class="archive__link">{{ post.title | smartify }}</a>
                                <span class="archive__meta">&mdash; <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: site.date_format }}</time></span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% include footer.html %}
