{% capture title %}{{ site.title }} | {{ site.description }}{% endcapture %}{% include header.html title = title %}

<div class="banner">
    <div class="wrap">
        {{ content }}
    </div>
</div>

<div class="content">
    <div class="wrap">
        {% for post in site.posts limit: 20 %}
        <div class="post" role="article">
            <h2><a href="{{ post.url }}">{{ post.title | markdownify | strip_html | strip_newlines }}</a></h2>

            <p>{{ post.excerpt | markdownify | strip_html | strip_newlines }}</p>

            {% capture url %}{{ post.content | extract_url }}{% endcapture %}{% if post.format == "link" and url %}<p class="more"><a href="{{ url }}" class="button alt compact">Visit link</a></p>{% endif %}

            {% include meta.html %}
        </div>
        {% endfor %}

        <p class="archive-link"><a href="/archive/" class="button">Archive</a></p>
    </div>
</div>

{% include footer.html %}
