{% capture title %}{{ site.title }} | {{ site.description }}{% endcapture %}{% include header.html title = title %}

<div class="box">
    {{ content }}
</div>

<h1>Latest posts</h1>

{% for post in site.posts limit: 20 %}
<div class="article" role="article">
    <h2><a href="{{ post.url }}">{{ post.title | markdownify | strip_html | strip_newlines }}</a></h2>
    <p>{{ post.excerpt | markdownify | strip_html | strip_newlines }}{% if post.format == "link" and post.content | extract_url %} <a href="{{ post.content | extract_url }}" class="more">[Visit link]</a>{% endif %}</p>
    <p class="meta"><time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%-d %b %Y" }}</time>{% if post.categories != empty %} &middot; {% for category in post.categories %}<a href="/category/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</p>
</div>
{% endfor %}

<p><a href="/archive/" class="button">Archive</a></p>

{% include footer.html %}
