// Base

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    -webkit-text-size-adjust: none;

    @include media(screen) {
        background-color: $body-background-color;
        color: $body-color;
    }
}

%heading {
    font-weight: bold;
    line-height: 1.25;
    margin: 1em 0 0 0;
    page-break-after: avoid;
}

h1 {
    @extend %heading;
    @include font-size(4);

    margin-bottom: 0.5em;
}

h2 {
    @extend %heading;
    @include font-size(3);
}

h3 {
    @extend %heading;
    @include font-size(2);
}

h4 {
    @extend %heading;
    @include font-size(1);
}

h5 {
    @extend %heading;
    @include font-size(0);
}

h6 {
    @extend %heading;
    @include font-size(0);
}

p {
    margin: 1em 0;
}

hr {
    background: transparent;
    border-top: $border-width solid $border-color;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 2em 0;
}

blockquote {
    border-left: $border-width solid $border-color;
    margin: 1em;
    padding: 0 1em;
}

address {
    font-style: inherit;
    line-height: inherit;
    margin: 1em 0;
}

cite,
dfn,
em,
i,
var {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

small {
    @include font-size(-2);
}

sub,
sup {
    @include font-size(-2);

    line-height: 0;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

dl,
ol,
ul {
    margin: 1em 0;
}

ol,
ul {
    padding-left: 2em;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}
