// Code

code,
kbd,
pre,
samp {
    @include font-size(-1);

    font-family: Menlo, Consolas, Roboto Mono, Noto Mono, monospace, monospace;
}

pre {
    border: $border-width solid $border-color;
    margin: 1.5em 0;
    padding: 1.5em;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
samp {
    pre & {
        font-size: 1em;
    }
}
