// Figures

figure {
    margin: 2em 0;

    > a,
    > a > img,
    > img {
        display: block;
        margin: 0 auto;
    }

}

figcaption {
    @include font-size(-1);

    color: $body-color-alt;
    margin: 1em 0;
    text-align: center;

    blockquote + & {
        text-align: right;
    }
}
