// Tables

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2em auto;
}

td,
th {
    padding: 0.5em;
    text-align: left;
}

caption {
    @include font-size(-1);

    caption-side: top;
    color: $body-color-alt;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}
